{% extends "base.html.twig" %}

{% block body %}
    {% for post in posts %}
        <div class="blog__post">
            <h2>{{ post.title }}</h2>
            {{ post.message|length > 50 ? post.message|slice(0, 50) ~ '...' : post.message   }} 
            <a href="{{ path('blog.post', {postId: post.id}) }}">read more<a>
        </div>
    {% endfor %}
{% endblock %}